USE [master]
GO
/****** Object:  Database [DriverLicenseDB]    Script Date: 2/17/2026 8:57:05 PM ******/
CREATE DATABASE [DriverLicenseDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DriverLicenseDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DriverLicenseDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DriverLicenseDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DriverLicenseDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DriverLicenseDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DriverLicenseDB]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2/17/2026 8:57:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Drivers]    Script Date: 2/17/2026 8:57:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Drivers](
	[DriverID] [int] IDENTITY(1,1) NOT NULL,
	[LicenseID] [nvarchar](50) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[ExpiryDate] [date] NOT NULL,
	[LicenseType] [nvarchar](10) NOT NULL,
	[QRRawData] [nvarchar](max) NULL,
	[OCRRawText] [nvarchar](max) NULL,
	[Status] [nvarchar](20) NOT NULL,
	[RegisteredBy] [int] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DriverID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[LicenseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[VW_ActiveDrivers]    Script Date: 2/17/2026 8:57:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

-- =====================================================
-- CREATE VIEWS FOR REPORTING
-- =====================================================

-- View: Active Drivers
CREATE VIEW [dbo].[VW_ActiveDrivers] AS
SELECT 
    d.DriverID,
    d.LicenseID,
    d.FullName,
    d.ExpiryDate,
    d.LicenseType,
    d.Status,
    u.FullName AS RegisteredByName,
    d.CreatedDate
FROM Drivers d
INNER JOIN Users u ON d.RegisteredBy = u.UserID
WHERE d.Status = 'active';
GO
/****** Object:  Table [dbo].[VerificationLogs]    Script Date: 2/17/2026 8:57:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VerificationLogs](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[LicenseID] [nvarchar](50) NOT NULL,
	[VerificationStatus] [nvarchar](20) NOT NULL,
	[CheckedBy] [int] NOT NULL,
	[CheckedDate] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VW_RecentVerifications]    Script Date: 2/17/2026 8:57:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

-- View: Recent Verifications
CREATE VIEW [dbo].[VW_RecentVerifications] AS
SELECT TOP 100
    v.LogID,
    v.LicenseID,
    v.VerificationStatus,
    v.DriverName,
    v.ExpiryDate,
    u.FullName AS CheckedByName,
    v.CheckedDate,
    v.Notes
FROM VerificationLogs v
INNER JOIN Users u ON v.CheckedBy = u.UserID
ORDER BY v.CheckedDate DESC;
GO
/****** Object:  Table [dbo].[Drivers_Backup_20240216]    Script Date: 2/17/2026 8:57:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Drivers_Backup_20240216](
	[DriverID] [int] IDENTITY(1,1) NOT NULL,
	[LicenseID] [nvarchar](50) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[ExpiryDate] [date] NOT NULL,
	[LicenseType] [nvarchar](10) NOT NULL,
	[PhotoURL] [nvarchar](255) NULL,
	[QRRawData] [nvarchar](max) NULL,
	[OCRRawText] [nvarchar](max) NULL,
	[Status] [nvarchar](20) NOT NULL,
	[RegisteredBy] [int] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NOT NULL,
	[Region] [nvarchar](100) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_Drivers_CreatedDate]    Script Date: 2/17/2026 8:57:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_Drivers_CreatedDate] ON [dbo].[Drivers]
(
	[CreatedDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Drivers_LicenseID]    Script Date: 2/17/2026 8:57:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_Drivers_LicenseID] ON [dbo].[Drivers]
(
	[LicenseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Drivers_RegisteredBy]    Script Date: 2/17/2026 8:57:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_Drivers_RegisteredBy] ON [dbo].[Drivers]
(
	[RegisteredBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Drivers_Status]    Script Date: 2/17/2026 8:57:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_Drivers_Status] ON [dbo].[Drivers]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_Status]    Script Date: 2/17/2026 8:57:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_Users_Status] ON [dbo].[Users]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_Username]    Script Date: 2/17/2026 8:57:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_Users_Username] ON [dbo].[Users]
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_VerificationLogs_CheckedBy]    Script Date: 2/17/2026 8:57:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_VerificationLogs_CheckedBy] ON [dbo].[VerificationLogs]
(
	[CheckedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_VerificationLogs_CheckedDate]    Script Date: 2/17/2026 8:57:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_VerificationLogs_CheckedDate] ON [dbo].[VerificationLogs]
(
	[CheckedDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_VerificationLogs_LicenseID]    Script Date: 2/17/2026 8:57:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_VerificationLogs_LicenseID] ON [dbo].[VerificationLogs]
(
	[LicenseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_VerificationLogs_Status]    Script Date: 2/17/2026 8:57:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_VerificationLogs_Status] ON [dbo].[VerificationLogs]
(
	[VerificationStatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Drivers] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Drivers] ADD  DEFAULT (getdate()) FOR [UpdatedDate]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('user') FOR [Role]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('active') FOR [Status]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[VerificationLogs] ADD  DEFAULT (getdate()) FOR [CheckedDate]
GO
ALTER TABLE [dbo].[Drivers]  WITH CHECK ADD  CONSTRAINT [FK_Drivers_RegisteredBy] FOREIGN KEY([RegisteredBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Drivers] CHECK CONSTRAINT [FK_Drivers_RegisteredBy]
GO
ALTER TABLE [dbo].[VerificationLogs]  WITH CHECK ADD  CONSTRAINT [FK_VerificationLogs_CheckedBy] FOREIGN KEY([CheckedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[VerificationLogs] CHECK CONSTRAINT [FK_VerificationLogs_CheckedBy]
GO
ALTER TABLE [dbo].[Drivers]  WITH CHECK ADD  CONSTRAINT [CK_Drivers_Status] CHECK  (([Status]='suspended' OR [Status]='expired' OR [Status]='active'))
GO
ALTER TABLE [dbo].[Drivers] CHECK CONSTRAINT [CK_Drivers_Status]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CK_Users_Role] CHECK  (([Role]='user' OR [Role]='officer' OR [Role]='admin'))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CK_Users_Role]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CK_Users_Status] CHECK  (([Status]='inactive' OR [Status]='active'))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CK_Users_Status]
GO
ALTER TABLE [dbo].[VerificationLogs]  WITH CHECK ADD  CONSTRAINT [CK_Verification_Status] CHECK  (([VerificationStatus]='not_found' OR [VerificationStatus]='expired' OR [VerificationStatus]='fake' OR [VerificationStatus]='real'))
GO
ALTER TABLE [dbo].[VerificationLogs] CHECK CONSTRAINT [CK_Verification_Status]
GO
/****** Object:  StoredProcedure [dbo].[SP_CheckLicenseExists]    Script Date: 2/17/2026 8:57:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

-- Check if License ID exists
CREATE PROCEDURE [dbo].[SP_CheckLicenseExists]
    @LicenseID NVARCHAR(50)
AS
BEGIN
    SELECT 
        DriverID,
        LicenseID,
        FullName,
        Status,
        ExpiryDate,
        CreatedDate
    FROM Drivers
    WHERE LicenseID = @LicenseID;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetDashboardStats]    Script Date: 2/17/2026 8:57:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

-- =====================================================
-- CREATE STORED PROCEDURES
-- =====================================================

-- Get Dashboard Statistics
CREATE PROCEDURE [dbo].[SP_GetDashboardStats]
AS
BEGIN
    SELECT 
        COUNT(*) AS TotalDrivers,
        SUM(CASE WHEN Status = 'active' THEN 1 ELSE 0 END) AS ActiveDrivers,
        SUM(CASE WHEN Status = 'expired' THEN 1 ELSE 0 END) AS ExpiredDrivers,
        SUM(CASE WHEN Status = 'suspended' THEN 1 ELSE 0 END) AS SuspendedDrivers
    FROM Drivers;
    
    SELECT 
        COUNT(*) AS TotalVerifications,
        SUM(CASE WHEN VerificationStatus = 'real' THEN 1 ELSE 0 END) AS RealVerifications,
        SUM(CASE WHEN VerificationStatus = 'fake' THEN 1 ELSE 0 END) AS FakeVerifications,
        SUM(CASE WHEN VerificationStatus = 'expired' THEN 1 ELSE 0 END) AS ExpiredVerifications
    FROM VerificationLogs;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_VerifyLicense]    Script Date: 2/17/2026 8:57:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

-- Verify License
CREATE PROCEDURE [dbo].[SP_VerifyLicense]
    @LicenseID NVARCHAR(50),
    @CheckedBy INT
AS
BEGIN
    DECLARE @VerificationStatus NVARCHAR(20);
    DECLARE @DriverName NVARCHAR(100);
    DECLARE @ExpiryDate DATE;
    
    -- Check if license exists
    SELECT 
        @DriverName = FullName,
        @ExpiryDate = ExpiryDate,
        @VerificationStatus = Status
    FROM Drivers
    WHERE LicenseID = @LicenseID;
    
    -- Determine verification status
    IF @DriverName IS NULL
    BEGIN
        SET @VerificationStatus = 'fake';
    END
    ELSE IF @ExpiryDate < CAST(GETDATE() AS DATE)
    BEGIN
        SET @VerificationStatus = 'expired';
    END
    ELSE
    BEGIN
        SET @VerificationStatus = 'real';
    END
    
    -- Log the verification
    INSERT INTO VerificationLogs (LicenseID, VerificationStatus, DriverName, ExpiryDate, CheckedBy, Notes)
    VALUES (@LicenseID, @VerificationStatus, @DriverName, @ExpiryDate, @CheckedBy, NULL);
    
    -- Return verification result
    SELECT 
        @VerificationStatus AS VerificationStatus,
        @DriverName AS DriverName,
        @ExpiryDate AS ExpiryDate,
        d.*
    FROM Drivers d
    WHERE LicenseID = @LicenseID;
END
GO
USE [master]
GO
